<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produce Stand CRUD</title>
</head>
<body>
<h1>Edit Details</h1>
<a href="/products">Cancel</a>
<p>Editing "<%= product.name %>"</p>
<form action="/products/<%= product.id %>?_method=PUT" method="POST">
    <label for="productName">Product Name:</label>
    <input type="text" name="name" id="product_name" value="<%= product.name %>">

    <label for="productPrice">Product Price:</label>
    <input type="text" name="price" id="product_price" value="<%= product.price %>">

    <label for="category">Category:</label>
    <select name="category" id="category">
            <% for (let category of categories) {%>
                <option value="<%= category %>" <%= product.category === category ? 'selected': '' %> ><%= category
                    %></option>
            <% } %>
    </select>
    <button type="submit">Submit</button>

</form>
</body>
</html>