<!DOCTYPE html>
<html>
  <head>
    <title>Produce Stand CRUD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1><%= category %> products</h1>
  <p><a href="/">Back</a></p>
  <ul>
    <% for(let product of products) { %>
      <li> 
        <%= product.name %> 
        <a href="/edit/<%= product.id %>">Edit</a> 
        <a href="/products/<%= product.id %>">View</a>
        <a href="/delete/<%= product.id %>">Delete</a>
      </li>
    <% } %>
  </ul>
  <a href="/new">Add Product</a>
  </body>
</html>
